*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  background-color: whitesmoke;
}

.left{
  flex-basis: 25%;
  max-width: 25%;
}

.left img{
  width: 100%;
  height: auto;

}

.right{
  flex-basis: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.app-bar{
  background-color: rgb(5, 150, 60);
  color: white;
  display: flex;
  align-items: flex-start;
  width: 30%;
  justify-content: space-between;
  height: 30px;
}

.app-bar > p{
  padding-left: 1em;
}

.app-bar > i{
  padding-right: 1em;
  padding-top: .2em;
}

nav{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 30%;
  background-color: rgb(5, 150, 60);
  color: white;
}

nav > ul{
  list-style-type: none;
  padding: 0;
}

nav > ul li{
  text-decoration: none;
  color: white;
}